@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --orange: #e88239;
  --darkgreen: #023a20;
  --success: #5fae27;
  --error: #d43212;
  --gray1: #333333;
  --gray2: #4f4f4f;
  --gray4: #bdbdbd;
  --gray5: #e0e0e0;
}
* {
  font-family: "Roboto", sans-serif;
}

.empty {
  display: flex;
  justify-content: center;
  margin: 250px 0;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.hint {
  font-size: 32px;
  font-weight: bold;
}
.btnMing {
  font-size: 20px;
  background-color: var(--orange);
  height: 50px;
  max-width: 330px;
  border-radius: 25px;
  color: white;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
@media (max-width: 991px) {
  .btnMing {
    width: 220px;
  }
  .hint {
    font-size: 24px;
  }
}
.stepWrap {
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  margin-top: 60px;
}

.ball {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid var(--gray5);
  margin: 0 auto;
}
.activeMing {
  background-color: var(--darkgreen);
  color: white;
}
.step {
  margin: 0 10px;
}
.bottomLine {
  height: 50px;
  width: 75px;
  border-bottom: 1px solid var(--gray2);
}
.unfoldBtnMing {
  margin: 25px 0;
  font-size: 16px;
  line-height: 35px;
  width: 205px;
  height: 35px;
  background-color: #f6c327;
  text-align: center;
  cursor: pointer;
}
.hideList {
  height: 0;
  overflow: hidden;
}
.showList {
  height: auto;
}
#showList {
  transition: all 2s ease-in-out;
}

.cartTitleMing {
  margin-top: 55px;
  margin-left: 35px;
}
.productImgMing {
  width: 150px;
  height: 150px;
  margin: auto 0;
}
.fz16 {
  font-size: 16px;
}

.formLabelMing {
  margin: 30px 0 15px 75px;
  font-size: 20px;
}
.formInputMing {
  margin: 0 15px 0 75px;
  border-radius: 4px;
  border: 1px solid var(--gray4);
  line-height: 55px;
  font-size: 20px;
  padding-left: 20px;
}
.formTitleMing {
  margin-top: 55px;
  margin-left: 35px;
  border-bottom: 1px dotted var(--orange);
  padding-bottom: 10px;
  width: 100%;
  /* max-width: 490px; 帶修正 */
}
.borderMing {
  border-bottom: 1px solid var(--gray4);
  /* padding:15px; */
  margin-bottom: 15px;
}

.consigneeTitle {
  margin-left: 0;
  font-size: 20px;
}
.order {
  order: 2;
}
@media (max-width: 991px) {
  .productImgMing {
    width: 80px;
    height: 80px;
  }
  .bottomLine {
    display: none;
  }
  .itemListMing {
    /* max-width: 375px; */
    margin: 80px auto 0;
  }
  .fz16 {
    font-size: 14px;
  }
  .formLabelMing {
    margin: 30px 0 15px 0;
    font-size: 14px;
  }
  .formInputMing {
    margin: 0;
    line-height: 40px;
    font-size: 14px;
  }
  .formTitleMing {
    margin-left: 0;
    font-size: 16px;
  }
  .consigneeTitle {
    margin-left: 15px;
    font-size: 16px;
  }
  .order {
    order: -1;
  }
}
.abstractMing {
  margin-top: 90px;
}
.itemListMing {
  /* max-width: 375px; */
  /* padding: 0 32px; */
  margin: 40px auto 0;
}

.productImgMing img {
  width: 100%;
}
.fakeDiv {
  height: 16px;
}
.subTotalMing,
.unitPriceMing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.calculate {
  max-width: 375px;
  padding: 0 32px;
  margin: 40px auto 0;
}
.q1Ming :hover {
  color: red;
}
.calculateRight {
  text-align: right;
}

.separateLine {
  max-width: 690px;
  border-top: 1px solid var(--gray4);
  margin: 0 auto;
}
.totalPriceMing {
  margin-top: 15px;
}
.shippingFeeMing,
.discountMing {
  color: var(--success);
}
.totalMing {
  color: var(--orange);
}
.fz20 {
  font-size: 20px;
}
.discountBox,
.freeShipBox {
  height: 50px;
  width: 140px;
  border: 1px solid var(--success);
  color: var(--success);
  line-height: 50px;
  text-align: center;
}
.conditionMing {
  color: var(--gray4);
}

.starMing {
  color: var(--error);
}
.pretty-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*改變右邊箭頭樣式*/
  background: url("/imgs/arrow.png") no-repeat right center transparent;
}
.consignee {
  margin-bottom: 50px;
}
.calculate2 {
  max-width: 690px;
  margin: 20px auto 0;
}
#cardCancelBtnMing {
  background-color: var(--error);
  color: #fff;
}
#cardSendBtnMing {
  background-color: var(--success);
  color: #fff;
}
